
<div class="row">
  <div>
    <%= form_tag awards_path, :method => :get do %>
      <p> Search awards by keyword:
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag "Search", :name => nil, class: 'btn btn-primary' %>
        <%= link_to "View All Awards", awards_path, class: 'btn' %>
      </p>
    <% end %>
  </div>
</div>

<div>
<table>
  <thead>
    <tr>
      <th>Most Recently Posted Awards</th>
    </tr>
  </thead>
  <tbody>
    <% @recent_awards.each do |award| %>
      <tr>
        <td><%= link_to award.name , award %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Show More', awards_path %>
</div>