
<div class="container-fluid">

<div class="row">
	<div>
		<%= form_tag awards_path, :method => :get do %>
		  <p> Search awards by keyword:
		    <%= text_field_tag :search, params[:search] %>
		    <%= submit_tag "Search", :name => nil, class: 'btn btn-primary' %>
		  </p>
		<% end %>
	</div>
	<%= link_to "View All Awards", awards_path, class: 'btn' %>
	<%= link_to "Advanced Search", awards_path, class: 'btn' %>
</div>


<div class="col-md-6">
<table>
  <thead>
    <tr>
      <th>Most Recently Posted Awards</th>
    </tr>
  </thead>
  <tbody>
    <% @recent_awards.each do |award| %>
      <tr>
        <td><%= link_to award.name , award %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Show More', awards_path, class: 'btn' %>
</div>

<div class="col-md-6">
	<div class="row">
		Be the first to know about upcoming awards:
	</div>

	<div class="row">
	    <% @featured_awards.each do |award| %>
	      <div><%= link_to award.name , award %></div>
	    <% end %>
	</div>
</div>

</div>