<%= form_for @award, :html => { :class => "form-horizontal award" } do |f| %>

    <% if @award.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@award.errors.count, "error") %> prohibited this award from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @award.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%= error_span(@award[:name]) %>
  </div>
  <div class="control-group">
    <%= f.label :link, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :link, :class => 'form-control' %>
    </div>
    <%= error_span(@award[:link]) %>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :description, :class => 'form-control' %>
    </div>
    <%= error_span(@award[:description]) %>
  </div>
  <div class="control-group">
    <%= f.label :notes, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :notes, :class => 'form-control' %>
    </div>
    <%= error_span(@award[:notes]) %>
  </div>
  <div class="control-group">
    <%= f.label :entry_fee, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :entry_fee, :class => 'form-control' %>
    </div>
    <%= error_span(@award[:entry_fee]) %>
  </div>
  <div class="control-group">
    <%= f.label :prize, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :prize, :class => 'form-control' %>
    </div>
    <%= error_span(@award[:prize]) %>
  </div>
  <div class="control-group">
    <%= f.label :deadline, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :deadline, :class => 'form-control' %>
    </div>
    <%= error_span(@award[:deadline]) %>
  </div>
  <div class="control-group">
    <%= f.label :entrant_type, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :entrant_type, :class => 'form-control' %>
    </div>
    <%= error_span(@award[:entrant_type]) %>
  </div>
  <div class="control-group">
    <%= f.label :medium_type, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :medium_type, :class => 'form-control' %>
    </div>
    <%= error_span(@award[:medium_type]) %>
  </div>
  <div class="control-group">
    <%= f.label :content_type, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :content_type, :class => 'form-control' %>
    </div>
    <%= error_span(@award[:content_type]) %>
  </div>
  <div class="control-group">
    <%= f.label :subject_type, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :subject_type, :class => 'form-control' %>
    </div>
    <%= error_span(@award[:subject_type]) %>
  </div>
  <div class="control-group">
    <%= f.label :organization_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :organization_id, :class => 'form-control' %>
    </div>
    <%= error_span(@award[:organization_id]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            awards_path, :class => 'btn btn-default' %>

<% end %>
