<%- model_class = Award -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<div class="row">
  <div>
    <%= form_tag awards_path, :method => :get do %>
      <p> Search awards by keyword:
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag "Search", :name => nil, class: 'btn btn-primary' %>
      </p>
    <% end %>
  </div>
  <%= link_to "View All Awards", awards_path, class: 'btn' %>
  <%= link_to "Advanced Search", awards_path, class: 'btn' %>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:link) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:notes) %></th>
      <th><%= model_class.human_attribute_name(:entry_fee) %></th>
      <th><%= model_class.human_attribute_name(:prize) %></th>
      <th><%= model_class.human_attribute_name(:deadline) %></th>
      <th><%= model_class.human_attribute_name(:entrant_type) %></th>
      <th><%= model_class.human_attribute_name(:medium_type) %></th>
      <th><%= model_class.human_attribute_name(:content_type) %></th>
      <th><%= model_class.human_attribute_name(:subject_type) %></th>
      <th><%= model_class.human_attribute_name(:organization_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @awards.each do |award| %>
      <tr>
        <td><%= link_to award.id, award_path(award) %></td>
        <td><%= award.name %></td>
        <td><%= award.link %></td>
        <td><%= award.description %></td>
        <td><%= award.notes %></td>
        <td><%= award.entry_fee %></td>
        <td><%= award.prize %></td>
        <td><%= award.deadline %></td>
        <td><%= award.entrant_type %></td>
        <td><%= award.medium_type %></td>
        <td><%= award.content_type %></td>
        <td><%= award.subject_type %></td>
        <td><%= award.organization_id %></td>
        <td><%=l award.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_award_path(award), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      award_path(award),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_award_path,
            :class => 'btn btn-primary' %>
