<%- model_class = Award -%>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<div>
<a href="https://twitter.com/share" class="twitter-share-button" data-count="none">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
<div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button"></div>
<script language="javascript">
        function emailCurrentPage(){
            window.location.href="mailto:?subject="+document.title+"&body="+escape(window.location.href);
        }
    </script><a href="javascript:emailCurrentPage()" title="Email"><img src="http://png-2.findicons.com/files/icons/573/must_have/48/mail.png"></a>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @award.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:link) %>:</strong></dt>
  <dd><%= @award.link %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @award.description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:notes) %>:</strong></dt>
  <dd><%= @award.notes %></dd>
  <dt><strong><%= model_class.human_attribute_name(:entry_fee) %>:</strong></dt>
  <dd><%= @award.entry_fee %></dd>
  <dt><strong><%= model_class.human_attribute_name(:prize) %>:</strong></dt>
  <dd><%= @award.prize %></dd>
  <dt><strong><%= model_class.human_attribute_name(:deadline) %>:</strong></dt>
  <dd><%= @award.deadline %></dd>
  <dt><strong><%= model_class.human_attribute_name(:entrant_type) %>:</strong></dt>
  <dd><%= @award.entrant_type %></dd>
  <dt><strong><%= model_class.human_attribute_name(:medium_type) %>:</strong></dt>
  <dd><%= @award.medium_type %></dd>
  <dt><strong><%= model_class.human_attribute_name(:content_type) %>:</strong></dt>
  <dd><%= @award.content_type %></dd>
  <dt><strong><%= model_class.human_attribute_name(:subject_type) %>:</strong></dt>
  <dd><%= @award.subject_type %></dd>
  <dt><strong><%= model_class.human_attribute_name(:organization_id) %>:</strong></dt>
  <dd><%= @award.organization_id %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              awards_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_award_path(@award), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              award_path(@award),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
