<!DOCTYPE html>
<html>
<head>
  <title>Journawards</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
			<%= link_to image_tag("logo.png", alt: "Journawards home"), pages_home_path %>
            <%= link_to "About Us",   pages_about_path %>
            <%= link_to image_tag("fb.jpg", alt: "Like us on Facebook"), 'https://facebook.com/' %>
            <%= link_to image_tag("twitter.png", alt: "Follow us on Twitter"), 'https://twitter.com/' %>
            <%= link_to "Users", users_path %>
            <%= link_to "Organizations", organizations_path %>   
            <%= link_to "Awards", awards_path %>  
            <%= link_to "Signin", '#' %>
            <%= link_to "Post an Award", new_award_path %>
      </div>
    </header>
<%= yield %>

</body>
</html>
